/*------------------*\
    BUTTONS
\*------------------*/

.btn {
    display:        inline-block;
    padding:        1.7rem;
    text-align:     center;
    font-size:      1.2rem;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    font-weight:    bold;
    cursor:         pointer;
    border:         2px solid;
    border-color:   transparent;
    border-radius:  24px;
}

.btn--primary-solid {
    color:            #fff;
    background-color: #6200EA;
    border-color:     #6200EA;
    margin:           1.5rem 0;
}

.btn--primary-hollow {
    color:            #6200EA;
    background-color: #fff;
    border-color:     #6200EA;
}

/*------------------*\
    SIGNUP
\*------------------*/

.signup-container {
    display:     flex;
    align-items: center;
    overflow: hidden;
}

.signup-info,
.signup-form {
    height: calc(100vh - 10rem);
}

.signup-info {
    background-color:               #6200EA;
    position:                        relative;

    .logo {
        position:                    absolute;
        top:                         1.5rem;
        left:                        3rem;
    }

    .signup--info-content {
        position:                    absolute;
        top:                         50%;
        left:                        50%;
        transform:                   translate(-50%, -50%);
        

        .blurb {
            display:                 flex;
            align-items:             center;
            margin-bottom:           6.3rem;

            .icon {
                height:              4rem;
                width:               4rem;
                background-color:    #fff;
                color:               #6200EA;
                font-size:           2rem;
                display:             flex;
                align-items:         center;
                justify-content:     center;
                border-radius:       50%;
                margin-right:        2rem;
            }
        }
    }

}

.signup-form {
    background:          url("../assets/bailey-zindel-396398-unsplash.jpg") no-repeat;
    background-size:     cover;
    background-position: center;
    filter:              grayscale(70%);
    display:             flex;
    flex-direction:      column;
    align-items:         center;
    justify-content:     center;

    .signup--form-container {

        h2 { 
            color:         #211138;
            margin-bottom: 3rem;
        }

        background-color: #fff;
        width:            54rem;
        padding:          6rem 6rem 6.5rem 6rem;
        border-radius:    15px;


        .form--input-fields {

            margin-top: 3rem;

            .form--input-field {
                display: block;
                width: 100%;
                padding: 1.6rem 0 1.6rem 2.4rem;
                background-color: #F4F3F5;
                outline: none;
                border: none;
                border-bottom: 3px solid;
                border-bottom-color: transparent;
            }

            .form--input-field:first-child { margin-bottom: 1.5rem; }

            .form--input-field:focus { border-bottom-color: #6200EA; }

            .form--input-field::placeholder {
                font-family: "Montserrat", sans-serif;
                font-size: 1.4rem;
                font-weight: bold;
                color: #211138;
                opacity: 0.25;
            }

            .forgoten--password-link {
                display: block;
                text-align: right;
                margin-top: 1rem;
                text-decoration: none;
                color: #6200EA;
            }

            .form--input-btn { width: 100%; }
        }

    }

    
}





/*------------------*\
    FOOTER
\*------------------*/

.footer {
    height:                 10rem;
    background-color:       #211138;
    display:                flex;
    align-items:            center;
    justify-content:        center;

    p {
        font-size:           1.2rem;
        letter-spacing:      2.4px;
        text-transform:      uppercase;
        font-weight:         bold;
        color:               #B2ACBA;

        span {
            color:           #6200EA;
        }
    }
}


@media (max-width: 1100px) {
    html {
        font-size: 55%;
    }

    .signup-container {
        flex-direction: column;
    }

    .signup-info,
    .signup-form {
     width: 100%;
}

    .signup-info .logo {
        left: 50%;
        transform: translateX(-50%);
    }

}

@media (max-width: 768px) {

    .signup-form .signup--form-container {
        width:            40rem;
        padding:          3rem;
    }

}


@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}